.fileResouce {
  display: flex;
  flex-direction: column;

  fieldset {
    & > div {
      margin-top: 10px;

      & :first-child {
        margin-top: 0;
      }

      & > ul {
        width: 100%;

        li {
          display: flex;
        }
      }
    }
  }
}
