:root {
  --interface-clr-1: #f04e25;
  --interface-clr-2: #437ec2;
}

.app {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #c5c5c5;

  & > main {
    min-height: 100vh;
    width: 1200px;
    border: 15px solid #e4e4e4;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-family: segoeui;

    header {
      width: 100%;
      nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 30px;
        a {
          color: var(--interface-clr-1);
        }
      }
      h1,
      h2 {
        color: var(--interface-clr-1);
        font-family: pragmaticaextralight;
        text-transform: uppercase;
        font-size: 24px;
        text-align: center;
        font-weight: 500;
      }
      margin-bottom: 30px;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #555555;
      font-size: 16px;
      padding-bottom: 250px;

      fieldset {
        width: 1110px;
        padding: 30px;
        padding-top: 15px;
        border: 1px solid #d8d8d8;
        border-radius: 5px;
        margin-bottom: 15px;

        legend {
          font-size: 18px;
          color: var(--interface-clr-2);
          font-weight: 700;
          padding: 5px;
          margin-left: -18px;
        }

        & > div {
          display: flex;
          justify-content: space-between;
          align-items: center;

          label {
            width: 380px;
            flex-shrink: 0;
            font-weight: 700;
          }
        }

        & > p {
          display: flex;
          font-size: 12px;
          color: #264386;
          margin-left: 380px;
        }
      }
    }

    .loadScreen {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .submitBtn {
    width: 40%;
    padding: 12px 12px 12px 12px;
    font: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-weight: 500;
    letter-spacing: 0.8px;
    border-radius: 3px;
    background-color: #4c8cc9;
    color: #ffffff;
    font-weight: 700;
    border: 0.1vmax solid #c0c0c0;
    transition: border 0.3s;
    margin-top: 80px;
    margin-bottom: -180px;
  }
}
